body {
    height: 50%;
    width: 50%;
    background-color: lightgray;
    font-family: lato;
}

#P1 {
    display: flex;
    justify-content: left;
}

.container {
    display: flex;
    justify-content: center;
}

#P2 {
    display: flex;
    justify-content: right;
}